<div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-md-4">
        <h1 class="app-page-title mb-0">Clients</h1>
      </div>
      <div class="col-md-8">
        <div class="page-utilities">
          <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="col-md-8">
              <%= search_form_for @q, class: "table-search-form row gx-1 align-items-center" do |f| %>
                <div class="col-auto">
                  <%= f.search_field :name_or_email_cont, class: 'form-control search-orders search-field-set', placeholder: "Search" %>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to "Download CSV", export_csv_clients_path, class: "btn btn-secondary" %>

            </div>

          </div>
        </div>
      </div>

</div>

<%= link_to "New User", new_client_path, class: 'btn btn-primary mb-2'%>

<%= render 'clients_table' %>

